ansible-core==2.13.5; python_version >= "3.8"
ansible==6.5.0; python_version >= "3.8"
arcaflow-plugin-sdk==0.9.0; python_version >= "3.9"
attrs==22.1.0; python_full_version >= "3.7.1" and python_version >= "3.9"
automat==20.2.0; python_full_version >= "3.7.1" and python_version >= "3.9"
cbor2==5.4.3; python_version >= "3.9"
cffi==1.15.1; python_version >= "3.8"
constantly==15.1.0; python_full_version >= "3.7.1" and python_version >= "3.9"
cryptography==38.0.2; python_version >= "3.8"
hyperlink==21.0.0; python_full_version >= "3.7.1" and python_version >= "3.9"
idna==3.4; python_full_version >= "3.7.1" and python_version >= "3.9"
incremental==22.10.0; python_full_version >= "3.7.1" and python_version >= "3.9"
jinja2==3.1.2; python_version >= "3.8"
markupsafe==2.1.1; python_version >= "3.8"
packaging==21.3; python_version >= "3.8"
pycparser==2.21; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8"
pyyaml==6.0; python_version >= "3.9"
resolvelib==0.8.1; python_version >= "3.8"
six==1.16.0; python_full_version >= "3.7.1" and python_version >= "3.9"
twisted-iocpsupport==1.0.2; python_full_version >= "3.7.1" and python_version >= "3.9" and platform_system == "Windows"
twisted==22.10.0; python_full_version >= "3.7.1" and python_version >= "3.9"
typing-extensions==4.4.0; python_full_version >= "3.7.1" and python_version >= "3.9"
zope.interface==5.5.0; python_full_version >= "3.7.1" and python_version >= "3.9"
